.well {
  font-size: 1.1em;
  font-weight: 200;
}

.container {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.trainers {
  list-style-type: none;
  padding-left: 0;
}

.trainers > * {
  width: 50%;
  margin-bottom: 1em;
}

.trainers > *:first-child {
  float: left;
}

.trainers > *:last-child {
  float: right;
}

.trainers .avatar {
  display: block;
  margin: 5px auto;
  border-radius: 5px;
}

.trainers .name {
  text-align: center;
  display: block;
  font-size: 1.3em;
}

.trainers ul {
  list-style-type: none;
  padding-left: 60px;
}

.trainers i {
  font-size: 1.5em;
  position: relative;
  top: 2px;
  min-width: 30px;
  display: inline-block;
}
