li {
  position: relative;
}

  li > *:last-child {
    margin-bottom: 1em;
  }

.status-indicator {
  position: absolute;
  top: 2px;
  right: 1.4em;
}

h2 {
  font-size: 1.1em;
  font-weight: bold;
  margin-bottom: 0.3em;
  margin-top: 0.5em;
}

.hints, .acceptance-criteria, .management {
  padding-left: 20px;
}

.toggle {
  cursor: pointer;
  text-decoration: none;
  opacity: .5;
  position: absolute;
  top: 2px;
  right: 0;
}
  .toggle:hover, .toggle:focus {
    text-decoration: none;
  }

a:hover {
  opacity: 1;
}

.description {
  padding-right: 40px;
}
