<form class="form-horizontal">
  <div class="form-group">
    <label class="control-label" for="inputTitle">Title</label>
    <input type="text"
           id="inputTitle"
           name="title"
           class="form-control"
           autofocus
           ng-model="movie.title">
  </div>
  <div class="form-group">
    <label class="control-label" for="inputDescription">Description</label>
    <textarea rows="5"
              id="inputDescription"
              name="description"
              class="form-control"
              ng-model="movie.description">
    </textarea>
    </div>
  </div>
  <div>
    <button type="submit"
            class="btn btn-primary"
            ng-click="save(movie)">
      Save
    </button>
    <a href="/movies/{{movie.id}}" class="btn btn-default">Cancel</a>
  </div>
</form>
